
html,
body {
    height: inherit;
    background-color: #efefef;
}

form p {
  line-height: 0em;
}

h6 {
    font-weight: bold;
}

.submitButton {
  color: white;
  background-color: #01579b;
}

.md-display-1 {
  color: white;
}
