
html,
body {
    height: inherit;
    background-color: #efefef;
}

.md-display-1 {
  color: white;
}

.icon {
  fill: black;
  fill-opacity: .54;
}

.fatal{
  fill: #F44336;
  color:#F44336;
}

.warning {
  fill: #FFC107;
  color: #FFC107;
}

.chip {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  background: #E0E0E0;
  color: #424242;
  cursor: default;
  border-radius: 16px;
  display: block;
  height: 32px;
  line-height: 32px;
  margin: 4px 4px;
  padding: 0 8px;
  float: left;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
}

.deck-info_languages {
  padding: 1em 0;
}
