

.languageDisplayContainer {
  display: block;
  padding: 1.5em 0em;
}

.languageDisplayComponents {
  float: left;
}

.large-icon {
  width: 4em;
  height: 4em;
}

.chip {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  background: #E0E0E0;
  color: #424242;
  cursor: default;
  border-radius: 16px;
  display: block;
  height: 32px;
  line-height: 32px;
  margin: 8px 8px 0 0;
  padding: 0 12px;
  float: left;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
}

.publish-button {
  color: white;
  background-color: #43A047;
}

.check-icon {
  fill: #2196F3;
}
