.publish-button {
  color: white;
  background-color: #43A047;
}

.notification-card {
  padding: 0;
}

.notification-card_image {
  width: 100px;
  background-color: gainsboro;
}

.secondary-header-text {
  width: 70%;
}

md-card {
  margin-bottom: 0;
  margin-top: 1.5em;
}

.card-container {
  padding-bottom: 1.5em;
}