<div layout="column">
  <md-toolbar class="md-primary md-tall" layout-align="center left" layout-padding>
    <div class="md-display-1">TXC Maker: Preview Deck</div>
  </md-toolbar>
  <md-toolbar class="md-primary md-hue-1" layout-padding>
    <div class="md-display-1">{{deck.deck_label}}</div>
  </md-toolbar>
  <md-tabs class="md-primary md-hue-1" md-dynamic-height>
    <md-tab label="Deck Info">
        <deck-info-screen deck="deck">
        </deck-info-screen>
    </md-tab>
    <md-tab label="test">
      <md-content class="md-padding">
        hello
      </md-content>
    </md-tab>
  </md-tabs>
</div>
