<div layout="column">
  <deck-maker-header subtitle="'FAQ'"></deck-maker-header>
  <div layout="row" layout-align="center center" layout-padding>
    <md-card layout-padding flex="50">
      <md-card-content>
        <div class="md-title">
          What is TXCMaker?
        </div>
        <p>
          TXCMaker is a tool for creating .txc files, which are collections of
          translations to be used in the <a href="translation-cards.com">Translation
          Cards</a> mobile app.
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>
