target
src/main/webapp/WEB-INF/client_secrets.json
src/UI/node_modules/
src/UI/app/bower_components/
.idea/
.vscode/
*.iml
**/.DS_Store
npm-debug.log
capture.js
error.txt
src/main/resources/application.properties
