<div layout="row" layout-align="center" class="card-container">
  <div flex="50" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{deck.deckLabel}}</span>
          <span class="md-subhead">{{deck.publisher}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column">
        <md-divider></md-divider>
        <div layout="row" layout-align="start center" class="deck-info_languages" >
          <div>
            <div class="chip">
              {{deck.sourceLanguage}}
            </div>
          </div>
          <md-icon class="icon" md-svg-src="resources/ic_navigate_next_black_48px.svg"></md-icon>
          <div flex>
            <div class="chip" ng-repeat="language in deck.destinationLanguages">
              {{language}}
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
    <div layout="row" ng-show="numberOfErrors == 0">
      <md-card flex="70">
        <md-card-content layout="row" layout-align="space-between center" class="notification-card">
          <img src="resources/check_mark.png" class="notification-card_image"/>
          <div layout-padding layout-fill>
            Be sure to look over the cards in each language before publishing your deck.
          </div>
        </md-card-content>
      </md-card>
      <md-card flex="30" class="publish-button" ng-click="publish()">
        <md-card-content layout="column" layout-align="center center" >
          <md-icon md-svg-src="resources/ic_file_upload_white_48px.svg"></md-icon>
          <br />
          <div>
            PUBLISH DECK
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div layout="row" ng-show="numberOfErrors > 0">
      <md-card flex="70">
        <md-card-content layout="row" layout-align="start center" class="notification-card">
          <div class="notification-card_error" layout="row" layout-align="center center">
            {{numberOfErrors}}
          </div>
          <div layout-padding layout-fill>
            There are {{numberOfErrors}} parsingErrors across your deck. Review the cards and resolve the parsingErrors before publishing.
          </div>
        </md-card-content>
      </md-card>
      <md-card flex="30" class="publish-button_disabled">
        <md-card-content layout="column" layout-align="center center" >
          <md-icon md-svg-src="resources/ic_file_upload_white_48px.svg"></md-icon>
          <br />
          <div>
            PUBLISH DECK
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
