

      <div layout="column">
      <deck-maker-header deckImportSelected="true"></deck-maker-header>
      
      <main >
        <div layout="row" layout-align="center center" layout-padding>
          <div class="formBody"  >
            <form method="post" action="/get-txc">
              <text-input-field 
                label="'Deck Name'"
                description="'An effective deck name explains who the deck is for and where it\'s most useful.'"
                value="''"></text-input-field>
                
              <text-input-field 
                label="'Publisher'"
                description="'Your organisation and/or your name.'"
                value="model.publisher"></text-input-field>
                
              <text-input-field 
                label="'Deck ID'"
                description="'The unique identifier for the deck.'"
                value="''"></text-input-field>
                
              <text-input-field 
                label="'Document ID'"
                description="'URL of the Google spreadsheet containing deck information.'"
                value="''"></text-input-field>
                
              <text-input-field 
                label="'Audio Directory ID'"
                description="'URL of the Google Drive folder containing the audio files.'"
                value="''"></text-input-field>
              <text-input-field 
                label="'License URL'"
                value="''"></text-input-field>

              <h6 class="md-title">Deck Locking</h6>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-checkbox__input" type="checkbox" id="locked" name="locked">
                <label class="mdl-checkbox__label" for="locked">Lock this deck so it cannot be modified</label>
              </div>

              <br />
              <md-button class="md-raised md-cornered md-primary" type="submit">Submit</md-button>
            </form>
          </div>
        </div>
      </main>
    </div>
