<div layout="column">
  <deck-maker-header subtitle="'Import data'"></deck-maker-header>
  <ul layout="row" layout-align="center center" layout-padding>
    <md-card layout-padding flex="50">
      <md-card-content layout="column">
        <form ng-submit="submitForm()">
          <md-card ng-repeat="error in errors" class="error">
            <md-card-content>
              <md-icon md-svg-src="resources/ic_announcement_white_24px.svg"></md-icon>
              {{error.message}}
            </md-card-content>
          </md-card>
          <md-input-container class="md-block">
            <label>Deck Name</label>
            <input ng-model="formData.deckName" type="text" name="deckName">
            <div class="hint">
              An effective deck name explains who the deck is for and where it's most useful.
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Publisher</label>
            <input ng-model="formData.publisher" type="text" name="publisher">
            <div class="hint">
              Your organisation and/or your name.
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Deck ID</label>
            <input ng-model="formData.deckId" type="text" name="deckId">
            <div class="hint">
              The unique identifier for the deck.
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Document ID</label>
            <input ng-model="formData.docId" type="text" name="docId">
            <div class="hint">
              URL of the Google spreadsheet containing deck information.
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Audio Directory ID</label>
            <input ng-model="formData.audioDirId" type="text" name="audioDirId">
            <div class="hint">
              URL of the Google Drive folder containing the audio files.
            </div>
          </md-input-container>
          <div class="radio-group">
            <label>License URL</label>
            <div>
              <input type="radio" name="licenseRadio" value="cc" ng-model="formData.licenseOption" ng-change="onLicenseChange()" class="input-radio">
              <label>Creative Commons Attribution-NonCommercial 4.0 International</label>
            </div>

            <div>
              <input type="radio" name="licenseRadio" value="other" ng-model="formData.licenseOption" ng-change="onLicenseChange()" class="input-radio">
              <label>Other</label>
              <input ng-model="formData.licenseOtherUrl" type="text" name="licenseOtherUrl">
            </div>
          </div>
          <md-input-container>
            <md-checkbox ng-model="formData.locked" aria-label="Lock this deck so it cannot be modified">
              Lock this deck so it cannot be modified
            </md-checkbox>
          </md-input-container>
          <br />
          <md-button class="md-raised md-cornered md-primary" type="submit">Submit</md-button>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>
