<div layout="row" layout-align="center" class="card-container">
  <div flex="50" layout="column">
    <md-card ng-repeat="card in cards_for_language track by $index" ng-click="playAudio(card.destinationAudioFilename)" class="translation-card">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{card.sourcePhrase}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout="column" layout-padding>
        <md-divider></md-divider>
        <div layout="row">
          <md-icon md-svg-src="resources/ic_volume_up_black_48px.svg" class="icon"></md-icon>
          <span flex></span>
          <div>
            {{card.destinationPhrase}}
          </div>
        </div>
        <span flex></span>
        <md-divider></md-divider>
        <div ng-repeat="error in card.errors">
          <div ng-if="error.fatal" class="fatal">
            <md-icon class="fatal" md-svg-src="resources/ic_warning_white_24px.svg"></md-icon>
            {{error.message}}
          </div>
          <div ng-if="!error.fatal" class="warning">
            <md-icon class="warning" md-svg-src="resources/ic_warning_white_24px.svg"></md-icon>
            {{error.message}}
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
