<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <servlet>		
    <servlet-name>get-txc</servlet-name>
    <servlet-class>org.mercycorps.translationcards.txcmaker.servlet.GetTxcServlet</servlet-class>
  </servlet>		
  <servlet-mapping>		
    <servlet-name>get-txc</servlet-name>
    <url-pattern>/get-txc</url-pattern>
  </servlet-mapping>

    <listener>
        <listener-class>org.mercycorps.translationcards.txcmaker.Application</listener-class>
    </listener>

    <servlet>
        <servlet-name>RESTServlet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.mercycorps.translationcards.txcmaker.api</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

  <servlet>
    <servlet-name>oauth2callback</servlet-name>
    <servlet-class>org.mercycorps.translationcards.txcmaker.auth.OAuth2Callback</servlet-class>
  </servlet>		
  <servlet-mapping>		
    <servlet-name>oauth2callback</servlet-name>
    <url-pattern>/oauth2callback</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>builder-task-handler</servlet-name>
      <servlet-class>org.mercycorps.translationcards.txcmaker.task.TxcBuilderTaskHandler</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>builder-task-handler</servlet-name>
      <url-pattern>/tasks/txc-build</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>verify-deck-task-handler</servlet-name>
        <servlet-class>org.mercycorps.translationcards.txcmaker.task.VerifyDeckTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verify-deck-task-handler</servlet-name>
        <url-pattern>/tasks/txc-verify</url-pattern>
    </servlet-mapping>

</web-app>
